{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="{% static 'core/styles/about.css' %}">
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>RecipeRealm</h3>
                        <p>Recipe Realm,is a culinary sanctuary crafted by a dedicated team of passionate developers.
                            Discover a vast collection of curated recipies and explore a diverse range of culinary delights.
                            With a user-friendly experience and meticulous attention to detail, we aim to elevate your cooking adventures. 
                            Join us in exploring the endless possibilities of the culinary realm and unleash your inner chef today!
                        </p>
                    <div class="button">
                        <a href="">Read More</a>
                    </div>
                </div>
                <div class="social">
                     <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-github"></i></a>
                     
                 </div>
            </div>
            <div class="image-section">
                 <img src="{% static 'core/images/dragon.jpg' %}" alt="">
            </div>
        </div>
    </div>
</body>
</html>