{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>RecipeRealm | Add Recipe</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" >
    <link rel="stylesheet" type="text/css" href="{% static 'core/styles/add.css' %}">
</head>
<body>
  <h1>Add New Recipe</h1>
  
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Image:</label>
    <input type="file"  name="featureimage" accept="image/*">
    <br><br>

    <label>Name:</label>
    <input type="text" name="name" required>

    <label>Cuisine:</label>
      <input type="text"  name="cuisine">
    
    <label >Category:</label>
      <select name="category">
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
      </select>

    <label>Difficulty Level:</label>
      <select name="level">
          <option value="easy">Easy</option>
          <option value="moderate">Moderate</option>
          <option value="difficult">Difficult</option>
      </select>

    <label>Servings:</label>
      <input type="number" name="servings">
      
    <label>Cooking Time (min):</label>
      <input type="text"  name="duration">

      <label>Ingredients:</label>
      <textarea  name="ingredients" rows="4" cols="20" required></textarea>
      
      <label>Instructions:</label>
        <textarea name="method" rows="4" cols="20" required></textarea>
        
    <label>Additional Notes:</label>
      <textarea name="notes" rows="4" cols="50"></textarea>
    
    <label>Tags/Keywords:</label>
      <input type="text"  name="tags" required>
    
    <label>Nutrition Information:</label>
      <input type="text"  name="nutrition">
    
    <input type="submit" value="Submit Recipe" >

    {% for error in form.errors %}
    <div>{{ error }}</div>
    {% endfor %}
  </form>
</body>
</html>
