<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Realm | Home</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.png" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/index.css">

</head>


<body class="light">
  <header>
    <nav class="navigation">
      <input type="checkbox" name="" id="toggle">

      <label class="toggle" for="toggle">
          <i class="bx bxs-sun"></i>
          <i class="bx bxs-moon"></i>
          <span class="ball"></span>      
      </label>
  </nav>
  <nav class="navbar">
    <a href="recipe.html"><i class="fa-solid fa-dragon fa-xl"></i>Recipes</a>
    <a href="login.html"><i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i>Login</a>
  </nav>
    <h1>Welcome to Recipe Realm</h1><br>
    <p>Your Recipe Oasis</p>
    <p>Discover the most delightful recipes for every occasion</p>
    <br>
    
</header>

    <div class="section">
      <div class="container">
          <div class="content-section">
              <div class="title">
                  <h1>About Us</h1>
              </div>
              <div class="content">
                  <h3>RecipeRealm</h3>
                      <p>Recipe Realm,is a culinary sanctuary crafted by a dedicated team of passionate developers.
                          Discover a vast collection of curated recipies and explore a diverse range of culinary delights.
                          With a user-friendly experience and meticulous attention to detail, we aim to elevate your cooking adventures. 
                          Join us in exploring the endless possibilities of the culinary realm and unleash your inner chef today!
                      </p>
                      <div class="switch">
                        <a href="recipe.html">View Recipes</a>
                    </div>
              </div><br>

          </div>
          <div class="image-section">
              <img src="images/logo_transparent.png" alt="RecipeRealm-logo">
          </div>
      </div>
  </div>
  <br>


  <section class="recipe-collections">

      <h1>Features</h1>
      <h2>Explore Popular Recipe Collections</h2>
      
        <div class="collection-card">
          <img src="images/4.jpg" alt="Quick and Easy Meals Collection">
          <h3>Quick and Easy Meals</h3>
          <p>Explore a collection of delicious recipes ready in no time.</p>
          <a href="recipe.html" class="button">Browse Recipes</a>
        </div>

        <div class="collection-card">
          <img src="images/4.jpg" alt="Healthy Vegan Recipes Collection">
          <h3>Healthy Vegan Recipes</h3>
          <p>Discover nutritious plant-based recipes for a healthy lifestyle.</p>
          <a href="recipe.html" class="button">Browse Recipes</a>
        </div>
       
        <div class="collection-card">
          <img src="images/4.jpg" alt="Baking and Desserts Recipes Collection">
          <h3>Baking and Desserts</h3>
          <p>Satisfy Your Sweet Tooth: Discover Heavenly Baking and Dessert Recipes!</p>
          <a href="recipe.html" class="button">Browse Recipes</a>
        </div>
  </section><br>

  <section class="featured-recipe">
    <h2>Today's Featured Recipe</h2>
    <div class="recipe-card">
        <img src="images/pilau.jpg" alt="Featured Recipe">
          <h3>Pilau</h3>
          <p>Try this mouth-watering Kenyan dish with bold flavors.</p>
          <a href="page.html" class="button">Get the Recipe</a>
    </div>
</section><br>


<!--contact us-->

<section class="reviews" id="reviews">
  <h1 class="heading"><span>Share Your Thoughts</span></h1>
</section>

<div class="bottle">
        <form action="mailto:Rrealm@gmail.com" method="post" enctype="text/plain">
            <h1>contact us</h1>
            <input type="text" id="firstName" placeholder="First Name" required>
            <input type="text" id="lastName" placeholder="Last Name" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="text" id="mobile" placeholder="Mobile" required>
            <h4>Type Your Message Here...</h4>
            <textarea required></textarea>
            <input type="submit" value="send" id="button">
        </form>
    </div>

<!--contact us end-->

<!--reviews section-->

  <section class="reviews" id="reviews">
    <h2 class="heading"><span>What Our Users Say</span></h2>

    <div class="reviews-slider">

      <div class="wrap">

        <div class="box">
          <img src="images/k.png" alt="">
          <h4>Mickey</h4>
          <p>"The recipes on Recipe Realm are outstanding! I've tried several and they never disappoint."
          </p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>

          <div class="box">
            <img src="images/w.png" alt="">
            <h4>Jane</h4>
            <p>"Healthy, flavorful, and easy-to-make vegetarian dishes. Love this site!"
            </p>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <div class="box">
              <img src="images/m.png" alt="">
              <h4>Tim</h4>
              <p>"Delicious and diverse recipes, easy to follow. Highly recommend!"
              </p>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>

        </div>
      </div>
    </div>


  </section>
  <br>

  <section class="newsletter">
    <h2>Subscribe for latest updates</h2>
      <p>Stay up-to-date with our latest recipes and cooking tips.</p>
      <form action="mailto:rrealm@gmail.com" method="POST">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Subscribe</button>
      </form>
  </section><br>

  <footer>
    <div class="middle">
      <a class="foot" href="#reciperealms-facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="foot" href="#reciperealms-twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="foot" href="#reciperealms-instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="foot" href="#reciperealms-youtube">
        <i class="fab fa-youtube"></i>
      </a>
      <a class="foot" href="#reciperealms-github-repo">
        <i class="fab fa-github"></i>
      </a>
    </div>
    
    <p>&copy; 2023 Recipe Realm. All rights reserved.</p>
  </footer>


  <script src="js/index.js"></script>


</body>
</html>
