{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" >
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Recipe | {{ recipe.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/styles/recipe.css' %}">
    
</head>

<body>
    <body class="light">
        <header>
              <nav class="navigation">
                  <input type="checkbox" name="" id="toggle">
      
                  <label class="toggle" for="toggle">
                      <i class="bx bxs-sun"></i>
                      <i class="bx bxs-moon"></i>
                      <span class="ball"></span>      
                  </label>
               </nav>
        </header>
      
        <header>
            <div class="logo">
                <img src="{% static 'core/images/logo_small.png' %}" alt="RecipeRealm-logo">
            </div>
        </header>
        <hr>

    <div class="header">
        <h2>Recipe Name:</h2>
        <h3>{{ recipe.name }}</h3>
    </div>

    <div class="image-container">
        <img src="{{ recipe.featureimage.url }}" alt="{{ recipe.name }}">
        

    </div>

    <div class="descriptions">
        <h2>Description</h2>
        <p class="info">{{ recipe.description }}</p>
        <!--meal description-->
        <h3>Recipe category:</h3>
            <p>{{ recipe.category }}</p>
        <h3>Difficulty level:</h3>
            <p>{{ recipe.level }}</p>
        <h3>Servings:</h3> 
            <p>{{ recipe.servings }}</p>
        <h3>Cooking time:</h3>  
            <p>{{ recipe.duration }} Minutes</p>
    </div>

    <div class="ingredients">
        <h2>Ingredients:</h2>
        <div>{{ recipe.ingredients | safe }}</div>
    </div>

    <div class="instructions">
        <h2>Instructions:</h2>
        <div>{{ recipe.method | safe }}</div>
    </div>

    {% if recipe.notes %}
    <div class="notes">
        <h2>Additional Notes:</h2>
        <div>{{ recipe.notes }}</div>
    </div>
    {% endif %}

    {% if recipe.nutrition %}
    <div class="nutrition">
        <h2>Nutrition Information:</h2>
        <div>{{ recipe.nutrition }}</div>
    </div>
    {% endif %}

    <hr>

    <script src="{% static 'core/scripts/recipe.js' %}"></script>
  
</body>
</html