{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RecipeRealm</title>
        <link rel="stylesheet" href="{% static 'accounts/styles/style.css' %}">
    </head>

    <body>

        <header>
            <h2 class="logo">RecipeRealm</h2>
            <nav class="navigation">
                <a href="{% url 'core:recipes' %}">Recipes</a>
                <a href="{% url 'core:about' %}" target="_blank">About</a>
                <a href="{% url 'core:contact' %}" target="_blank">Contact us</a>
                <button class="btnLogin-popup">Login</button>
            </nav>
        </header>

        <div class="wrapper">
            <span class="icon-close">
                <ion-icon name="close-outline"></ion-icon>
            </span>
            <div class="form-box login"> <!--login form starts here-->
                <h2>Login</h2>

                <form action="" method="post">

                    <!-- MODIFIED: ADDS A TOKEN TO LOGIN FORM TO DEFEND AGAINST CSRF -->
                    {% csrf_token %}

                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>

                        <!-- MODIFIED -->
                        <!-- <input type="email" required> -->
                        <input type="email" name="email" required>

                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>

                        <!-- MODIFIED -->
                        <!-- <input type="password" required> -->
                        <input type="password" name="password" required>

                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">Remember me</label>
                        <a href="#">Forgot password?</a>
                    </div>

                    <!-- MODIFIED -->
                    <!-- <button type="submit" class="btn">Login</button> -->
                    <button type="submit" name="login" class="btn">Login</button>

                    <div class="login-register">
                        <p>
                            Don't have an account? <a href="#" class="register-link">Register</a>
                        </p>
                    </div>

                    <!-- BROLINE: DESIGN FORM ERRORS SECTION BELOW -->
                    <div>
                        <!-- EMAIL FORM ERRORS -->
                        {% for error  in loginform.email.errors %}
                        <span class="formerror">*{{error}}</span>
                        {% endfor %}
    
                        <!-- PASSWORD FORM ERRORS -->
                        {% for error  in loginform.password.errors %}
                        <span class="formerror">*{{error}}</span>
                        {% endfor %}
                    </div>

                </form>

            </div>

            <div class="form-box register"> <!--Registration form starts here-->
                <h2>Registration</h2>

                <form action="" method="post">

                    <!-- MODIFIED: ADDS A TOKEN TO REGISTRATION FORM TO DEFEND AGAINST CSRF -->
                    {% csrf_token %}

                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>

                        <!-- MODIFIED -->
                        <input type="text" name="alias" required>

                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>

                        <!-- MODIFIED -->
                        <!-- <input type="email" required> -->
                        <input type="text" name="email" required>
                        <label>Email</label>
                    </div>

                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>

                        <!-- MODIFIED -->
                        <!-- <input type="password" required> -->
                        <input type="password" name="password" required>

                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">I agree to the terms and conditions</label>
                        
                    </div>

                    <!-- MODIFIED -->
                    <button type="submit" name="registration" class="btn">Register</button>

                    <div class="login-register">
                        <p>
                            Already have an account?<a href="#" class="login-link">Login</a>
                        </p>
                    </div>

                    <!-- BROLINE: DESIGN FORM ERRORS SECTION BELOW -->

                    <div>
                        <!-- USERNAME FORM ERRORS -->
                        {% for error  in regform.alias.errors %}
                        <span class="formerror">*{{error}}</span>
                        {% endfor %}
    
    
                        <!-- EMAIL FORM ERRORS -->
                        {% for error  in regform.email.errors %}
                        <span class="formerror">*{{error}}</span>
                        {% endfor %}
    
                        <!-- PASSWORD FORM ERRORS -->
                        {% for error  in regform.password.errors %}
                        <span class="formerror">*{{error}}</span>
                        {% endfor %}
                    </div>

                </form>

            </div>
        </div>

        <script src="/static/accounts/js/script.js"></script>

        <!--script for included icons-->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
