{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeRealm | Register</title>
    <link rel="stylesheet" href="{% static 'accounts/styles/register.css' %}">
    <!-- <link rel="icon" type="image/x-icon" href="images/favicon.png" > -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>

    <header class="header">
        <h2><i class='bx bxs-hot' ></i>RecipeRealm</h2>
        <nav class="navbar">
            <a href="{% url 'core:home' %}">Home</a>
            <a href="{% url 'core:recipes' %}">Recipes</a>
        </nav>
    </header>

    <div class="background"></div>

    <div class="logreg-box">    
        <div class="form-box register">
            <form action="" method="post">
                <!-- MODIFIED: ADDS A TOKEN TO REGISTRATION FORM TO DEFEND AGAINST CSRF -->
                {% csrf_token %}
                <h2>Sign up</h2>

                <div class="input-box">
                    <span class="icon"><i class='bx bxs-user'></i></span>
                    <input type="text" name="alias" id="username" pattern=".{3,18}" title="Username must be between 3-18 characters" required>
                    <label>Name</label>
                </div>


                <div class="input-box">
                    <span class="icon"><i class='bx bxs-envelope'></i></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt' ></i></span>

                    <input type="password" name="password" id="password" pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*])\S{8,24}"
                    title="Password length: 3-24 characters, at least 1 uppercase letter(A-Z), 1 lowercase letter(a-z), and 1 symbol(@#%^)" required required>

                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">I agree to the terms & conditions</label>
                </div>

                <button type="submit" name="registration" class="btn">Sign up</button>
                <div class="login-register">
                    <p>Already have an account? <a href="{% url 'accounts:login' %}" class="login-link">Login</a></p>
                </div>
                
                <!-- BROLINE: DESIGN FORM ERRORS SECTION BELOW -->
                <div>
                    <!-- USERNAME FORM ERRORS -->
                    {% for error  in regform.alias.errors %}
                    <span class="formerror">*{{error}}</span>
                    {% endfor %}


                    <!-- EMAIL FORM ERRORS -->
                    {% for error  in regform.email.errors %}
                    <span class="formerror">*{{error}}</span>
                    {% endfor %}

                    <!-- PASSWORD FORM ERRORS -->
                    {% for error  in regform.password.errors %}
                    <span class="formerror">*{{error}}</span>
                    {% endfor %}
                </div>
            </form>
        </div>    
    </div>

    <div class="container">
    </div>

    <div class="social-icons">
        <a href="recipe.html"><i class='bx bxs-bowl-hot'></i></a>
        <a href="index.html"><i class='bx bxs-home-alt-2' ></i></a>
        <a href="RecipeRealms-twitter"><i class='bx bxl-twitter' ></i></a>
        <a href="RecipeRealms-facebook"><i class='bx bxl-facebook-circle' ></i></a>
        <a href="RecipeRealms-instagram"><i class='bx bxl-instagram-alt' ></i></a>
    </div>

    <script src="{% static 'accounts/scripts/register.js' %}"></script>
    
</body>
</html>