@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #051e2e;*/
    

}

h1{
    color: #3498db;
    text-align: center;
}

h2 {
    color: #336699;
    text-align: center;
    text-decoration: underline;
}


h3{
    color: #336699;
    text-align: center;

}

p{
    color:  #166396;

}

li{
    color:  #166396;
}

/*will adjust to diff-sizes*/
.image-container {
    max-width: 100%;
    text-align: center;
}
.image-container img{
    max-width: 50%;
    max-height: 50%;
    margin-left: 0;

}

.descriptions {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
     
}

.logo{
    text-align: center;

}

hr {
    background-color: #166396;
    height: 1px;
}


.ingredients {
  text-align: center;
  margin: auto;
  max-width: 500px;
}

.ingredients li{
   text-align: justify;
}

.instructions{
    margin: auto;
    max-width: 600px;
}



.notes {
    text-align: center;
    margin: auto;
    max-width: 600px;
    text-align: justify;
  }


  .nutrition{
    margin: auto;
    max-width: 600px;
    text-align: justify;

  }
  
  body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body .light {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;

}

header .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
    
}


.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    transition: .2s;
}

.toggle i {
    width: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

.toggle .ball {
    position: absolute;
    width: 45px;
    height: 45px;
    margin: 7.5px;
    border-radius: 50%;
    transition: .3s ease-out;

}

.navigation input {
    display: none;
}

/*light mode*/

.light {
    background: #fafafa;
    
}

.light .toggle {
    background: linear-gradient(145deg, #e1e1e1, #fff);
    box-shadow: 3px 3px 4px #e6e6e6,
                -3px -3px 4px #e6e6e6, ;

}

.light .toggle .bxs-sun {
    color: #fafafa;

}

.light .toggle .bxs-moon {
    color: #151d2a;
    
}

.light .toggle .ball{
    background: #151d2a; 

}

/*dark mode*/
.dark {
    background: #151d2a;
    
}

.dark .toggle {
    background: #151d2a;
    box-shadow: 3px 3px 4px #0e131b,
                -3px -3px 4px #1c2739;

}

.dark .toggle .bx-sun {
    color: #fafafa;

}

.dark .toggle .bxs-moon {
    color: #151d2a;
    
}

.dark .toggle .ball{
    background: #fafafa;
    transform: translateX(60px);


}


